[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ics = "*"
pytz = "*"
tzlocal = "*"
pyyaml = "*"
recleagueparser = {editable = true, git = "https://github.com/gmfrasca/rec-league-parser"}
icalendar = "*"

[dev-packages]

[requires]
python_version = "3.11"
